.chiefs-section{
    &__title::before,
    &__title::after {
        display: block;
        position: absolute;
        bottom: 24px;
        width: 352px;
        border: 2px solid var(--color-grey);
        content: '';
    }

    &__title::before {
        left: 0;
    }

    &__title::after {
        right: 0;
    }

    &__title {
        position: relative;
        text-align: center;
        margin: 0 auto 80px;
        margin-bottom: 80px;
    }

    &__list {
        display: flex;
        gap: 30px;
        row-gap: 40px;
        flex-wrap: wrap;
    }
    
    &__item {
        flex-basis: calc((100% - 30px) / 2);
    }  
}