.contact-section {
    padding-bottom: 0;
    text-align: center;

    @media screen and (min-width:$bp-tablet) {
        padding-bottom: 96px;
        text-align: left;
    }

    &__title {
        margin-bottom: 8px;
        font-size: 32px;

        @media screen and (min-width:$bp-tablet) {
            margin-bottom: 16px;
            font-size: 64px;
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        gap: 24px;

        @media screen and (min-width:$bp-tablet) {
            flex-direction: row;
            gap: 22px;
        }
    }
    
    &__container {
        display: flex;
        flex-direction: column;
        width: 100%;

        @media screen and (min-width:$bp-tablet) {
            max-width: 615px;
        }
    }

    &__text {
        margin-bottom: 24px;
        font-size: 14px;
        font-weight: 300;

        @media screen and (min-width:$bp-tablet) {
            margin-bottom: 42px;
            font-size: 18px;
            font-weight: 400;
        }
    }

    &__agreement {
        display: none;

        @media screen and (min-width:$bp-tablet) {
            display: block;
            font-size: 12px;
            text-underline-offset: 2px;
            text-align: center;
            padding-top: 16px;
        }
    }

    &__map {
        margin: 0 -24px;
        border: none;
        border-radius: 0;
        height: 176px;

        @media screen and (min-width:$bp-tablet) {
            width: 250px;
            height: 400px;
            align-self: center;
            border-radius: 16px;
            margin:0 auto;
        }

        @media screen and (min-width:$bp-desktop) {
            width: 600px;
            height: 595px;
        }
    }
}