.formats-section{
   &__title{
        text-align: center;
        margin-bottom: 80px;
   } 

   &__container {
       display: flex;
       gap: 32px;
       align-items: center;
   }

   &__list {
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       gap: 20px;
   }

   &__item {
       flex-basis: calc((100% - 40px) / 3);
       transition: transform 0.3s;

        &:hover {
            transform: scale(1.05);
        }
   }
}