.get-call-button {
    color: var(--color-primary-light);
    border-radius: 8px;
    border: 2px solid var(--color-brand-light);
    background: var(--color-brand-light);
    cursor: pointer;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding: 12px 24px;
    width: 200px;
    height: 44px;

    &:hover {
        color: var(--color-brand-dark);
        background-color: transparent;
    }

    @media screen and (min-width:$bp-tablet) {
        width: 238px;
        height: 60px;
        font-size: 18px;
        padding: 16px 32px;
    }

    /* &[disabled] {
      color: var(--color-brown);
      background-color: var(--color-grey);
      border-color: var(--color-brown);
    } */
    /*add JS logic to make it work*/
}

.close-modal{
    position: absolute;
    top: 40px;
    right: 40px;
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: 0px;
    padding: 0;

    &:focus {
        color: var(--color-brand-light);
    }

     &__cross-arrow {
        display: inline-block;
        width: 32px;
        height: 32px;
        stroke-width: 0;
        stroke: currentColor;
        fill: var(--color-primary-light);
    }
}

.close-menu{
    position: absolute;
    top: 16px;
    right: 24px;
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: 0px;
    padding: 0;
    
    &:focus {
        color: var(--color-brand-light);
    }

    @media screen and (min-width:$bp-tablet) {
        top: 16px;
        right: 60px;
    }
    
    &__cross-arrow {
        display: inline-block;
        width: 24px;
        height: 24px;
        stroke-width: 0;
        stroke: currentColor;
        fill: var(--color-primary-light);
    }
}