.social-media {

    &__item {
        display: inline;
        padding: 0 11px;
    }

        &__icon {
        fill: var(--color-primary-light);
        width: 32px;
        height: 32px;

        &:hover {
            fill: var(--color-brand-light);
        }
    }
}